@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');

/* General */

body {
  font-family: 'Roboto Mono', monospace;
  background-color: #c2e6e8;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

button,
button:active {
  background-color: rgb(220,180,172); /*color rosita*/
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  text-align: center;
  box-shadow: 0.2em 0.2em rgb(220, 180, 172);
  -webkit-box-shadow: 0.2em 0.2em rgb(193, 139, 128);
  -moz-box-shadow: 0.2em 0.2em rgb(194, 91, 44);
}

button:focus {
  translate: 0.2em 0.2em;
  box-shadow: 0.2em 0.2em rgb(194, 91, 44) inset;
  -webkit-box-shadow: 0.2em 0.2em rgb(194, 91, 44) inset;
  -moz-box-shadow: 0.2em 0.2em rgb(194, 91, 44) inset;
}

/* Clock Body */

.clock-container { /*contenedor*/
  background-color: rgb(252, 232, 228); 
  width: 290px;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 10px 10px rgb(220,180,172);
}

/* Display + Stop/Start/Reset Controls */

#time-left { /*display*/
  font-size: 50px; 
  text-align: center;
  background-color: rgb(220,180,172); /*color rosita*/
  padding: 3px;
  border-radius: 20px;
  box-shadow: 3px 3px rgb(207, 137, 130) inset; /*rosa oscuro*/
}

#display-controls {
  margin: 10px 0; /*espacio entre display y boton sesion*/
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#timer-label {
  font-size: 20px;
  text-align: center;
  padding-top: 2px;
  background-color: rgb(220,180,172); /*color boton sesion*/
  border-radius: 10px;
  height: 30px;
  flex: 2;
  box-shadow: 3px 3px rgb(207, 137, 130) inset;
}

#timer-ssr {
  flex: 1.2;
  margin-left: 30px;
  display: flex;
  justify-content: space-between;
  flex-start: end;
}

/* Timer Length Controls */

.length-container {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.inc-dec-btn-container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 120px;
  height:50px;
}

.break-container, 
.session-container {
  text-align: center;
/*   display: inline-block; */
  border: 2px solid rgb(207, 137, 130);
  padding: px;
  border-radius: 10px; /*redondeado*/
  width: 47%;
}

.timer-length {
  font-size: 2em;
}

.break-container,
.inc-arrow {
  margin-right: 12px; /*espacio entre break y session*/
}
